<%
  var id = socket.id || '';
  var on = socket.state ? 'checked' : '';
  var ontm = socket.onTime || '18:42';
  var oftm = socket.offTime || '23:33';
  var soid = socket.physicalSocket || '1';
  var rand = socket.random ? 'checked' : '';
  var rndb = socket.randomBreaks ? 'checked' : '';
%>

<form action="/sockets/" method="post">
  <input type="hidden" name="id" value="<%= id %>"/>
  <div>
    <label for="random">Currently on:</label>
    <input type="checkbox" name="state" <%= on %>/>
  </div>

  <label for="physicalSocket">Physical socket: </label>
  <input type="text" name="physicalSocket" value="<%= soid %>"/>
  <div>
    <label>Time on: </label>
    <input type="text" name="onTime" value="<%= ontm %>"/>
  </div>
  <div>
    <label>Time off: </label>
    <input type="text" name="offTime" value="<%= oftm %>"/>
  </div>
  <div>
    <label for="random">Random start/end times</label>
    <input type="checkbox" name="random" <%= rand %>/>
  </div>
  <div>
    <label for="randomBreaks">Random breaks</label>
    <input type="checkbox" name="randomBreaks" <%= rndb %>/>
  </div>
  <input type="submit" value="Set"/>
</form>
<% if (id) { %>
<form action="/sockets/" method="post">
  <input type="hidden" name="delete_id" value="<%= id %>"/>
  <input type="submit" value="Delete"/>
</form>
<% } %>
